:root {
    --precio: #6C7289;
    --descuento: #3D8168;
    --negro: #1C232B;
    --blanco: #FFFFFF;
    --grisClaro: #6C7289;

    --fuentePrincipal: "Montserrat", sans-serif;
    --fuenteSecundaria: "Fraunces", serif;

    --separacion: 5rem;
}

/*---------------------------------------- Globales ----------------------------------*/
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 1.5;
}
h1,
h2 {
    font-family: var(--fuenteSecundaria);
    font-weight: 700;
}
img {
    max-width: 100%;
    display: block;
    height: auto;
}